Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
git+git@github.com:mitsuhiko/werkzeug.git
decorator==3.4.0
httplib2==0.9
itsdangerous==0.24
jellyfish==0.3.3
nameparser==0.3.3
networkx==1.9.1
oauth2client==1.4.6
oauthlib==0.7.2
git+git@github.com:pyca/pyopenssl.git
pyasn1==0.1.7
pyasn1-modules==0.0.5
pymongo==2.7.2
requests==2.5.1
requests-oauthlib==0.4.2
rsa==3.1.4
six==1.9.0
vcardz-data==0.1.1
